<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
        <h3>Write new chat</h3>
        <form method="POST" action="/chats">
            <input placeholder="write who you are!" name="from">
            <br><br>
            <textarea name="message">Write your message in here.....</textarea>
            <br><br>
            <input placeholder="add recevier" name="to">
            <br><br>
            <button class="btn_1">Create Chat</button>
        </form>
</body>
</html>